@charset "UTF-8";

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	width:100%;
	height:100%;
	/* height: max-content; */
	margin: 0px;
	
}

.region-list {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}

.region-list li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	font-size: 25px;
}

.region-list li:hover {
	transition: 0.2s;
	font-size: 30px;
	border-bottom: 5px solid rgba(165, 164, 165, 1);
}

.list-banner {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: salmon;
	width: 800px;
	height: 200px;
}

.list {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	min-height: 10px;
	display: flex;
	min-height: max-content;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid grey;
	font-family: 'S-CoreDream-3Light';
	font-weight: bold;
}

.list-container {
	box-sizing: border-box;
	display: flex;
	height: 140px;
	width: 100%;
}

.content-container {
	margin-left: 50px;
	width: 80%;
}

.icon-list {
	display: block;
	width: 120px;
}

.img {
	width: 400px;
	height: 250px;
	overflow:hidden;
}

.image {
	border-radius: 25%;
	background-size: auto;
	transform: scale(0.92);
	transition:transform .5s;
}

.image:hover {
	transform: scale(1.0);
	 transition:transform .5s; 
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
}

.content-container div {
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.title a {
	font-size: 30px;
	/* color: black; */
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	border: gray 1px solid;
	border-radius: 10px;
	background-color: #f8f8f8;
	height: 28%;
	margin-right: 15px;
	/* 	width: 60px; */
	padding: 10px;
	border-radius: 50%;
}
.price{
	text-overflow: ellipsis;
	overflow:hidden;
}
.icon i {
	font-size: 25px;
	color: darkblue;
	padding-bottom: 10px;
	text-align: center;
}

.icon {
	display: flex;
	flex-direction: column;
	font-size: 15px;
}