

body {
	margin: 0px;
	min-height:	100vh;
}

a {
	text-decoration: none;
	color: black;
}

.header {
	width: 100%;
	height: 60px;
	/* background-color: aqua; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
/* 	top: 0px; */
	z-index: 99;
	background-color: white;
	border-bottom:3px solid black;
}

.header i {
	font-size: 40px;
	color: black;
	padding-right: 18px;
}

.header_logo {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 35px;
}

.header_logo div {
	padding-left: 20px;
}

.header_menu {
	float: right; 
	display : flex;
	
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin-right: 20px;
	display: flex;
}

.header_menu li {
	text-align: center;
	width: 100px;
}

.aside-list {
	z-index: 5;
	/* position: absolute;  */
	position:fixed;  
	width: 350px;
	height: 100%;
	top: -10px;
	left: -350px;  
	transition: .5s;
	background-color: white;
	padding-top: 70px;
	box-sizing:content-box;
}


.aside-list i {
	font-size: 30px;
	padding-left: 30px;
	width: 50px;
	text-align: center;
}

.aside-list li {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 350px;
	background-color: white;
	height: 50px;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: bold;
}

.aside-list li div {
 	box-sizing: border-box; 
	/* background-color: cornflowerblue; */
	padding-left: 20px;
}

.show {
	left: 0px;
	transition: .5s;
}

.dark-mode-btn {
	position: fixed;
	z-index: 3;
	top: 90%;
	left: 95%;
	width: 50px;
	height: 50px;
	background-image:
		url("/images/night.png");
	background-size: cover;
	border-radius: 50px;
	transition: 0.5s;
}



