@import url(index.css);
.stars{
    background: url("../images/stars.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

body {
    /* cursor: url('../images/flash.png'), auto; */
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: black;
    /* overflow: hidden; */
}

.tent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10vh; */
    height: 100vh;
}

.loadOpacity {
    opacity: 0;
    animation: reveal-opacity 1s ease-out 0.5s forwards;
}

@keyframes reveal-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo {
    z-index: 1;
    position: absolute;
    width: 35vw;
    height: 20vh;
    margin-left: auto;
    left: 32vw;
    top: 23vh;
    margin-right: auto;
    transition: 0.5s;
}

.whitePic {
    opacity: 0;
    position: absolute;
    width: 7vw;
    height: 10vh;
    left: 47%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    transition: 0.5s;
    animation: reveal-opacity 0.5s ease-out 1.8s forwards, reveal-out 1.8s ease-in 1.65s forwards;
}

.BlackPic {
    opacity: 0;
    position: absolute;
    width: 7vw;
    height: 10vh;
    top: 30%;
    left: 47%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    transition: 0.5s;
    animation: reveal-opacity 1s ease-out 0.5s forwards, reveal-out 1.8s ease-in 1.65s forwards;
}

@keyframes reveal-out {
    from {
        top: 30%;
    }
    to {
        top: -100%;
    }
}

.campIn {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 125px;
    left: 43.7vw;
    /* —top: 252px; */
    top: 100%;
    transition: 2s;
    z-index: 1;
    animation: reveal-opacity 1.2s ease-out 1s forwards, reveal-position 1.2s ease-out 1s forwards;
}

.blackCAMP {
    z-index: 1;
    animation: reveal-opacity 0.6s ease-in-out 1.8s forwards, reveal-position 1.2s ease-out 1s forwards;
}

@keyframes reveal-position {
    from {
        top: 100%;
    }

    to {
        top: 29%;
    }
}


/* 여기서부터는 슬라이드를 넘긴 후 코드 */
@keyframes slide {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

.index {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    left: 100%;
    top: 0%;
    animation: slide 2s ease-out 3.5s forwards;
}